*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
section{
    background-image: url(./Images/Saylani-Welfare.jpg);
    background-repeat:no-repeat;
    box-sizing: border-box;
    background-size:cover;
    height: 100vh;
}
.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.mainheader{
    
    height:auto;
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
}
h1{
    text-align: center;
    font-size: 48px;
    background-color:rgb(40 128 0 / 85%);
    color: white;
    margin-bottom: 0.8em;
}
.bdg-content{
    text-align: center;
    font-size: 1.5em;
    color: white;
    
    margin-top: 3em;
    border: none;
    margin: 0 auto;
    width: 60%;
box-shadow:10px 10px 10px 10px rgba(0, 128, 0, 0.651);
    height: 20%;
    padding: 0.8em 0.5em;
    margin-bottom: 0.8em;
}
.bdg-content input{
    
    width: 40%;
    height: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
}
.bdg-content button{
    background-color:rgb(40 128 0 / 85%);
    color: white;
    width: 20%;
    height: 40%;
    margin: 0 auto;
    display: inline-block;
    border-radius:20%;
}
.expense-content{
    text-align: center;
    font-size: 1.5em;
    color: white;
    
    box-shadow:10px 10px 10px 10px rgba(0, 128, 0, 0.651);
    border:none;
    height:35%;
    margin-top: 2em;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 0.5em;
}
.expense-content input{
    width: 40%;
    height: 10%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1em;
    margin-top: 0.8em;
}
.expense-content button{
    background-color:rgb(40 128 0 / 85%);
    color: white;
    width: 30%;
    height: 20%;
    margin: 0 auto;
    display:inline-block;
    border-radius:20%;

}


.result{
    display: flex;
    justify-content: center;
    

    background-color:rgb(40 128 0 / 85%);

}
.result div{
    width: 33.3%;
    height: 30%;
    text-align:Center;
    font-size: 18px;
    color: white;
}

.result div p{
    margin-top: 1em;
}

table{
    width: 100%;
    background-color:rgb(40 128 0 / 85%);
    font-size: 1.2em;
    padding: 0.8em;
    
    margin-bottom: 0.8em;
    border: 6px solid white;
}

table th,td{

    color: white;
    padding: 0.8em;
    border-left: 4px solid white;
    
}

.Deletbtn{
    padding: 0.8em;
    background-color:rgb(40 128 0 / 85%);
    border-radius: 10%;
    color: white;
text-align: center;
border: none;
}